/*COVID(INDIA)*/

h1{
    color: blueviolet;
    text-align: center;
}

.covid{
    width: 200px;
    height: 120px;
    border: 1px solid black;
    background-color: pink;
   
}

.cases{
   display: flex;
   flex-direction: row;
   justify-content:center;
   text-align: center;
  }

.root{
    margin-top: 10%;
}

span{

     font-size:xx-large;
}



/*COVID-19(Statewise)*/

h1{
    text-align: center;
    background-color:powderblue;
}

#tab{
    font-size: larger;
    margin-top: 10%;
    margin-left: 20%;
    
}

#tab,th,td{
    border: 1px solid black;
}

#d:hover{
    background-color:red;
}

#c:hover{
 background-color: orangered;
}

#r:hover{
    background-color: green;
}

#a:hover{
    background-color: yellow;
}

th:hover{
    background-color: turquoise;
}

#u:hover{
    background-color: wheat;
}

/*layout covid..*/

.layOut{
    text-align: center;
    background-image: linear-gradient(to right,yellow,red);
}

/*link*/

.link{
    width: 100%;
    height: 120px;
    border: 2px solid black;
    background-image: linear-gradient(to right,pink,yellow);
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    font-size: xx-large;  
    align-items:center;
    
}

#ind{
    text-decoration:none;
    width: 160px;
    height: 43px;
    border: 1px solid black;
    background-color: white;
    text-align: center;
    border-radius: 50px;
    
}

#st{
    text-decoration:none;
    width: 180px;
    height: 49px;
    border: 1px solid black;
    text-align: center;
    border-radius: 50px;
    background-color: white;
}
